.login-container {
  background: #eef2ff;
  text-align: center;
}
.login-title {
  background: #f6e7d8;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #f48460;
  padding: 5px;
}
.login-form {
  margin: 20px;
}
.error-message {
  color: #ffa0a0;
  font-size: 1.1rem;
}
.allButton {
  background: #f48460;
  color: white;
  padding: 10px 45px;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.8s;
}
.allButton:hover {
  background: #383838;
}
.sign-up {
  text-decoration: none;
  color: #ff5f00;
  background: #faffaf;
  padding: 5px;
  border-radius: 15px;
  font-weight: 500;
}
