.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
}
.link:hover {
  color: #f48460;
}

.link-active {
  color: #f48460;
  font-weight: 700;
  font-size: 1.5rem;
}
.link-active:hover {
  color: #f48460;
}

.nav-link {
  background: #222f3e;
}

