.banner {
  background-image: url(../../../Images/gym1.jpg);
  width: 100%;
  height: 100vh;
}
.card-compo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.services-container{
  text-decoration: none;
}
