.banner {
  background-image: url(../../../Images/gym1.jpg);
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card-compo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.services-container {
  text-decoration: none;
}
.services {
  color: #f48460;
}
.custom-style {
  color: #f48460;

  font-size: 70px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(13) infinite alternate,
    blink 1000ms steps(13) infinite normal;
  border-right: 5px solid black;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}
.trainer {
  background-image: url(../../../Images/gym_image_spacer_2.jpg);
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.hot-sale{
  background: #eef2ff;
 align-items: center;
 width: 100%;
 margin: auto;

}